absl-py==0.11.0
appdirs==1.4.3
astunparse==1.6.3
attr==0.3.1
attrs==20.3.0
boto3==1.17.22
botocore==1.20.22
CacheControl==0.12.6
cachetools==4.2.1
CaseRecommender==1.0.918.post0
certifi==2019.11.28
chardet==3.0.4
click==7.1.2
colorama==0.4.3
contextlib2==0.6.0
coremltools==4.0b3
decorator==4.4.2
distlib==0.3.0
distro==1.4.0
Flask==1.1.2
flatbuffers==1.12
gast==0.3.3
google-auth==1.27.1
google-auth-oauthlib==0.4.3
google-pasta==0.2.0
grpcio==1.32.0
h5py==2.10.0
html5lib==1.0.1
idna==2.8
ipaddr==2.2.0
itsdangerous==1.1.0
Jinja2==2.11.3
jmespath==0.10.0
joblib==1.0.1
Keras-Preprocessing==1.1.2
llvmlite==0.33.0
lockfile==0.12.2
Markdown==3.3.4
MarkupSafe==1.1.1
mpmath==1.2.1
msgpack==0.6.2
numba==0.50.1
numexpr==2.7.3
numpy==1.19.2
oauthlib==3.1.0
opt-einsum==3.3.0
packaging==20.3
pandas==1.1.5
pep517==0.8.2
Pillow==8.1.2
prettytable==0.7.2
progress==1.5
protobuf==3.15.5
pyasn1==0.4.8
pyasn1-modules==0.2.8
pyparsing==2.4.6
python-dateutil==2.8.1
pytoml==0.1.21
pytz==2021.1
requests==2.22.0
requests-oauthlib==1.3.0
resampy==0.2.1
retrying==1.3.3
rsa==4.7.2
s3transfer==0.3.4
scikit-learn==0.24.1
scipy==1.5.4
six==1.10.0
sympy==1.7.1
tables==3.6.1
tensorboard==2.4.1
tensorboard-plugin-wit==1.8.0
tensorflow-estimator==2.4.0
termcolor==1.1.0
threadpoolctl==2.1.0
tqdm==4.59.0
turicreate==6.4.1
typing-extensions==3.7.4.3
urllib3==1.26.3
webencodings==0.5.1
Werkzeug==1.0.1
wrapt==1.12.1
